@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container-pay mt-4">
    <div id="logo">
        <h1 class="logo" style="width: 60px;"></h1>
        <div class=""></div>
    </div>
    <div class="leftbox">
        <nav>
            <a class="test-white"><i class="fa fa-tasks"></i></a>
            <a class="test-white"><i class="fa fa fa-user"></i></a>
            <a class="test-white"><i class="fa fa-credit-card"></i></a>
            <a class="test-white"><i class="fa fa-check-circle"></i></a>
            <a class="active test-white"><i class="fa fa-download"></i></a>
        </nav>
    </div>
    <div class="rightbox">
        <div class="getpdf">
            <a href="/" class="BACK">
                <img src="../images/arrow-left.png">
            </a>
            <h1>Account Settings</h1>
            <div class="mt-4 ml-4 mb-4">
                <h2 class="h2plus">Thank you for choosing us.</h2>
            </div>
            <div class="row mr-5">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <button id="generatePdfBtn" class="btn btn-orange text-white" style="height: 50px; width: 160px;">Download Ticket</button>
                </div>
            </div>

        </div>

    </div>
</div>