@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container-pay mt-4">
<div id="logo">
    <h1 class="logo" style="width: 60px;"></h1>
    <div class=""></div>
</div>
<div class="leftbox">
    <nav>
        <a class="test-white"><i class="fa fa-tasks"></i></a>
        <a class="active test-white"><i class="fa fa fa-user"></i></a>
        <a class="test-white"><i class="fa fa-credit-card"></i></a>
        <a class="test-white"><i class="fa fa-check-circle"></i></a>
        <a class="test-white"><i class="fa fa-download"></i></a>
    </nav>
</div>
<div class="rightbox">
    <div class="persinfo">
        <a href="transinfo" class="BACK">
            <img src="../images/arrow-left.png">
        </a>
        <h1>Privacy Settings</h1>
        <div class="form-card" style="margin-top: -20px;">
            <form action="payinfo" method="get">
                <div class="col-sm-10">
                    <label class="pay-label">ID Card</label>
                    <input type="text" name="idcard" required>
                </div>
                <div class="col-sm-10">
                    <label class="pay-label">First Name</label>
                    <input type="text" name="firstname" required>
                </div>
                <div class="col-sm-10">
                    <label class="pay-label">Last Name</label>
                    <input type="text" name="lastname" required>
                </div>
                <div class="col-sm-10">
                    <label class="pay-label">Email</label>
                    <input type="email" name="email" required>
                </div>
                <button type="submit" class="CTA">
                    <img src="../images/empty-arrow-down.png">
                </button>
            </form>
        </div>
    </div>
</div>
</div>